## MLOps Assignment 1

[link text](https://)Q1. Print multiplication table from 1 to 10

In [ ]:
#write here and run the cell
# Multiplication table of 1 to 10

for i in range(1,11):
    print("\n\nMULTIPLICATION TABLE FOR %d\n" %(i))
    for j in range(1,11):
        print("%-5d X %5d = %5d" % (i, j, i*j))

MULTIPLICATION TABLE FOR 1

1     X     1 =     1
1     X     2 =     2
1     X     3 =     3
1     X     4 =     4
1     X     5 =     5
1     X     6 =     6
1     X     7 =     7
1     X     8 =     8
1     X     9 =     9
1     X    10 =    10


MULTIPLICATION TABLE FOR 2

2     X     1 =     2
2     X     2 =     4
2     X     3 =     6
2     X     4 =     8
2     X     5 =    10
2     X     6 =    12
2     X     7 =    14
2     X     8 =    16
2     X     9 =    18
2     X    10 =    20


MULTIPLICATION TABLE FOR 3

3     X     1 =     3
3     X     2 =     6
3     X     3 =     9
3     X     4 =    12
3     X     5 =    15
3     X     6 =    18
3     X     7 =    21
3     X     8 =    24
3     X     9 =    27
3     X    10 =    30


MULTIPLICATION TABLE FOR 4

4     X     1 =     4
4     X     2 =     8
4     X     3 =    12
4     X     4 =    16
4     X     5 =    20
4     X     6 =    24
4     X     7 =    28
4     X     8 =    32
4     X     9 =    36
4     X    10 =    40


MULTIPLICATION TABLE FOR 5

5     X     1 =     5
5     X     2 =    10
5     X     3 =    15
5     X     4 =    20
5     X     5 =    25
5     X     6 =    30
5     X     7 =    35
5     X     8 =    40
5     X     9 =    45
5     X    10 =    50


MULTIPLICATION TABLE FOR 6

6     X     1 =     6
6     X     2 =    12
6     X     3 =    18
6     X     4 =    24
6     X     5 =    30
6     X     6 =    36
6     X     7 =    42
6     X     8 =    48
6     X     9 =    54
6     X    10 =    60


MULTIPLICATION TABLE FOR 7

7     X     1 =     7
7     X     2 =    14
7     X     3 =    21
7     X     4 =    28
7     X     5 =    35
7     X     6 =    42
7     X     7 =    49
7     X     8 =    56
7     X     9 =    63
7     X    10 =    70


MULTIPLICATION TABLE FOR 8

8     X     1 =     8
8     X     2 =    16
8     X     3 =    24
8     X     4 =    32
8     X     5 =    40
8     X     6 =    48
8     X     7 =    56
8     X     8 =    64
8     X     9 =    72
8     X    10 =    80


MULTIPLICATION TABLE FOR 9

9     X     1 =     9
9     X     2 =    18
9     X     3 =    27
9     X     4 =    36
9     X     5 =    45
9     X     6 =    54
9     X     7 =    63
9     X     8 =    72
9     X     9 =    81
9     X    10 =    90


MULTIPLICATION TABLE FOR 10

10    X     1 =    10
10    X     2 =    20
10    X     3 =    30
10    X     4 =    40
10    X     5 =    50
10    X     6 =    60
10    X     7 =    70
10    X     8 =    80
10    X     9 =    90
10    X    10 =   100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [ ]:

def combined_list(l1, l2):
    # Extract odd-index elements from l1
    oie_l1 = [l1[i] for i in range(1, len(l1), 2)]

    # Extract even-index elements from l2
    eie_l2 = [l2[i] for i in range(0, len(l2), 2)]

    # Combine the two lists
    l3 = oie_l1 + eie_l2

    return l3

l1 = [10, 20, 30, 40, 50, 60]
l2 = [1, 2, 3, 4, 5, 6, 7, 8]

l3 = combined_list(l1, l2)

print("List l3:", l3)

List l3: [20, 40, 60, 1, 3, 5, 7]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
#write here and run the cell
def print_pattern(n):
  for i in range(n, 0, -1):
    print(" " * (n - i)+"*"*i)

print_pattern(8)

********
 *******
  ******
   *****
    ****
     ***
      **
       *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
#write here and run the cell

def exponent(base, exp):
    result = 1
    for _ in range(exp):
        result *= base
    return result

exponent(5,4)

625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [ ]:
#write here and run the cell

with open('test.txt', 'w') as file:
    file.write("line1\n")
    file.write("line2\n")
    file.write("line3\n")
    file.write("line4\n")
    file.write("line5\n")
    file.write("line6\n")
    file.write("line7\n")

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [ ]:
#write here and run the cell

def print_names():
    user_input = input("Enter three names separated by spaces: ")
    names = user_input.split()

    for name in names:
        print(name)

# Call the function
print_names()

Enter three names separated by spaces: haris haris
haris
haris

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [1]:
#write here and run the cell

def show_employee(name, salary=9000):
    print(f"Name: {name} salary: {salary}")

# Test the function with the provided examples
show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

:Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [2]:
#write here and run the cell

import re

def find_words_with_letters_and_digits(input_string):
    # Split the input string into words
    words = input_string.split()

    # List to store words containing both letters and digits
    result = []

    # Iterate through each word
    for word in words:
        # Check if the word contains both letters and digits using regex
        if re.search(r'[a-zA-Z]', word) and re.search(r'\d', word):
            result.append(word)

    return result

# Example usage
str1 = "Harry25 is Gryffindor Wizard50 and cursed"
words_with_both = find_words_with_letters_and_digits(str1)

# Print the result
for word in words_with_both:
    print(word)

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [3]:
#write here and run the cell

import re

def replace_special_characters(input_string):
    # Replace all special characters with '#'
    result = re.sub(r'[^a-zA-Z0-9\s]', '#', input_string)
    return result

# Example usage
str1 = '/*Modi is @Politician & Melony!!'
output = replace_special_characters(str1)
print(output)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [4]:
#write here and run the cell

def create_pairs_set(first_list, second_list):
    # Create a set of pairs using zip to pair corresponding elements from both lists
    result_set = set(zip(first_list, second_list))
    return result_set

# Example usage
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

result = create_pairs_set(first_list, second_list)
print("Result is", result)

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [5]:
#write here and run the cell

# Define two sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# 1. A - B (Difference: Elements in A but not in B)
print("A - B:", A - B)

# 2. B - A (Difference: Elements in B but not in A)
print("B - A:", B - A)

# 3. A ∩ B (Intersection: Elements common to both A and B)
print("A ∩ B:", A & B)

# 4. A ∪ B (Union: All elements from both A and B, without duplicates)
print("A ∪ B:", A | B)

A - B: {1, 2, 3}
B - A: {8, 6, 7}
A ∩ B: {4, 5}
A ∪ B: {1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [ ]:
#write here and run the cell

class Vehicle:
  def __init__(self,max_speed,mileage):
    self.max_speed = max_speed
    self.mileage = mileage

wagonr = Vehicle(160,15)
print(wagonr.max_speed)
wagonr.mileage

160

15

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [ ]:
#write here and run the cell
class Bus(Vehicle):

  pass

Bus_r = Bus(160,15)

Bus_r.mileage

15

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [ ]:
#write here and run the cell

class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"


class Bus(Vehicle):
    def seating_capacity(self, capacity=50):
        return super().seating_capacity(capacity)

b1 = Bus("1",100,20)
b1.seating_capacity()

'The seating capacity of a 1 is 50 passengers'

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [ ]:
#write here and run the cell

class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
    def fare(self):
      fare = self.capacity * 100

      return fare + fare*0.1

School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [ ]:
#write here and run the cell
import json
data = {"key1" : "value1", "key2" : "value2"}
data_1 = json.dumps(data)

type(data_1)

str

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [ ]:

#write here and run the cell
sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

{
      "age": 29,
      "id": 1,
      "name": "value2"
}

# Convert the dictionary to a JSON string with sorted keys
json_str = json.dumps(sampleJson, sort_keys=True, indent=4)

# Print the JSON string
print(json_str)

{
    "age": 29,
    "id": 1,
    "name": "value2"
}